.wrapper {
    margin: 10px auto;
    display: block;
    text-align: center;
    transition: 0.15s ease; }
    .wrapper.active .arrow {
      transform: rotate(45deg) translate(-5px, -5px); }
      .wrapper.active .arrow:before {
        transform: translate(10px, 0); }
      .wrapper.active .arrow:after {
        transform: rotate(90deg) translate(10px, 0); }
    .wrapper.active ul {
      opacity: 0.3;
      height: 108px; }
  
  .wrapper2 ul {
    border: 1px solid rgba(255, 255, 255, 0.5); }
  
  .wrapper2 li:first-child {
    margin-top: 16px; }
  
  .wrapper2 li:last-child {
    margin-bottom: 3px; }
  
  
  .wrapper2.active .arrow {
    transform: rotate(45deg) translate(38px, 38px);
    opacity: 0.6; }
    .wrapper2.active .arrow:before {
      transform: translate(5px, 0); }
    .wrapper2.active .arrow:after {
      transform: rotate(90deg) translate(5px, 0); }
  
  .wrapper3 .arrow {
    transform: rotate(0);
    left: 0; }
    .wrapper3 .arrow:before, .wrapper3 .arrow:after {
      background-color: transparent;
      width: 3px;
      height: 10px;
      display: inline-block;
      position: absolute;
      border-bottom: 12px solid black;
      top: 0;
      left: 0;
      transform: rotate(0); }
    .wrapper3 .arrow:before {
      transform: rotate(-135deg); }
    .wrapper3 .arrow:after {
      transform: rotate(135deg); }
  
  .wrapper3.active .arrow {
    transform: rotate(0);
    transform: translate(0, -6px); }
    .wrapper3.active .arrow:before {
      transform: rotate(-45deg); }
    .wrapper3.active .arrow:after {
      transform: rotate(45deg); }
  
  .arrow {
    width: 13px;
    height: 13px;
    position: relative;
    bottom: -5px;
    left: -10px;
    transition: 0.3s ease;
    margin-top: 2px;
    text-align: left;
    transform: rotate(45deg);
    float: right; }
    .arrow:before, .arrow:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 12px;
      height: 3px;
      background-color: black;
      transition: 0.3s ease; }
    .arrow:after {
      position: absolute;
      transform: rotate(90deg);
      top: -5px;
      left: 5px; }
  
  .click-text {
    display: block;
    text-align: left;
    padding: 15px 12px 16px;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid grey;
    transition: 0.15s ease; }
  
    ul.hide {
      padding: 0;
      margin: 0;
      height: 0;
      opacity: 0;
      transition: 0.4s ease; }
    
    li.hide {
      list-style-type: none;
      margin: 0 auto;
      padding: 4px 0;
      text-align: left;
      cursor: pointer; }
  