
 html {
   -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
   box-sizing: border-box;
 }
 
  /*css reset and font stuff*/
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'roboto',sans-serif;
    font-size: 1rem;
    color: #3A3F67;
    background-color: #FCF7F3;
  }

  h1 {
     font-size: 1.4rem;
  }

  .foodheader {
     margin-bottom: 0rem;
  }

  p {
     color: #767481;
     margin-top: .6rem;
  }

  .center {
   display: flex;
   justify-content: center;
   justify-items: center;
 }

 main {
    margin: 2rem;
 }

 img {
    border-radius: 5px;
    cursor: pointer;
 }

 .scale {
    transition: all .3s ease-in-out;
   }

.scale:hover {
   transform: scale(1.04);
}

.box {
  width: 250px;
  height: 188px;
  border-radius:10px;
}
.box:hover {
   box-shadow: 0 0 7px rgba(33,33,33,.3); 
}


 #stage a {
   position: absolute;
}

#stage a:nth-of-type(1) {
   animation-name: fader;
   animation-delay: 3.8s;
   animation-duration: 1s;
   z-index: 20;
 }

#stage a {
    animation-play-state: paused;
 }

 #stage a:hover {
    animation-play-state: running;
 }

 #stage a:nth-of-type(2){
   z-index: 10;
 }
 #stage a:nth-of-type(n+3){
   display: none;
 }

 @keyframes fader {
   from { opacity: 1.0; }
   to   { opacity: 0.0; }
 }